<div class="col-md-12">
    <div class="page-header-title">
        <h2 class="mb-0 f-w-600 mt-2">{{appointmentId === 0 ? 'Book' : 'Edit'}} Appointment</h2>
    </div>
</div>

<form [formGroup]="appointmentForm" (ngSubmit)="onSubmit()">
    <div class="row gx-3">
        <!-- Registed Patient -->
        <div class="col-md-12">
            <div class="form-section">
                <span>Registed Patient</span>
                <hr>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group mb-3">
                <label class="form-label" for="patientId">Registed Patient</label>
                <select class="form-select" formControlName="patientId" (change)="getPatientInfo($event)">
                    <option value="">- Select -</option>
                    @for (item of patientList; track item) {
                    <option [value]="item.value">{{item.key}}</option>
                    }
                </select>
            </div>
        </div>

        <!-- Personal Details -->
        <div class="col-md-12">
            <div class="form-section">
                <span>Personal Details</span>
                <hr>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group mb-3">
                <label class="form-label" for="firstName">First Name *</label>
                <input id="firstName" type="text" formControlName="firstName" placeholder="Enter first name"
                    class="form-control" />
                <div>
                    @if (appointmentForm.get('firstName').invalid && appointmentForm.get('firstName').touched) {
                    @if (appointmentForm.get('firstName').errors['required']) {
                    <small class="text-danger">First name is required.</small>
                    }
                    }
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group mb-3">
                <label class="form-label" for="lastName">Last Name *</label>
                <input id="lastName" type="text" formControlName="lastName" placeholder="Enter last name"
                    class="form-control" />
                <div>
                    @if (appointmentForm.get('lastName').invalid && appointmentForm.get('lastName').touched) {
                    @if (appointmentForm.get('lastName').errors['required']) {
                    <small class="text-danger">Last name is required.</small>
                    }
                    }
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group mb-3">
                <label class="form-label" for="dob">Date Of Birth *</label>
                <input id="dob" type="date" formControlName="dateOfBirth" placeholder="Select date of birth"
                    class="form-control" />
                <div>
                    @if (appointmentForm.get('dateOfBirth').invalid && appointmentForm.get('dateOfBirth').touched) {
                    @if (appointmentForm.get('dateOfBirth').errors['required']) {
                    <small class="text-danger">Date Of Birth is required.</small>
                    }
                    }
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group mb-3">
                <label class="form-label" for="gender">Gender *</label>
                <input id="gender" type="text" formControlName="gender" placeholder="Select gender"
                    class="form-control" />
                <div>
                    @if (appointmentForm.get('gender').invalid && appointmentForm.get('gender').touched) {
                    @if (appointmentForm.get('gender').errors['required']) {
                    <small class="text-danger">Gender is required.</small>
                    }
                    }
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group mb-3">
                <label class="form-label" for="contact">Contact *</label>
                <input id="contact" type="text" formControlName="contact" placeholder="Enter contact number"
                    class="form-control" />
                <div>
                    @if (appointmentForm.get('contact').invalid && appointmentForm.get('contact').touched) {
                    @if (appointmentForm.get('contact').errors['required']) {
                    <small class="text-danger">Contact is required.</small>
                    }
                    }
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group mb-3">
                <label class="form-label" for="addressLine1">Address Line 1 *</label>
                <input id="addressLine1" type="text" formControlName="addressLine1" placeholder="Enter Address Line 1"
                    class="form-control" />
                <div>
                    @if (appointmentForm.get('addressLine1').invalid && appointmentForm.get('addressLine1').touched) {
                    @if (appointmentForm.get('addressLine1').errors['required']) {
                    <small class="text-danger">Address Line 1 is required.</small>
                    }
                    }
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group mb-3">
                <label class="form-label" for="addressLine2">Address Line 2</label>
                <input id="addressLine2" type="text" formControlName="addressLine2" placeholder="Enter Address Line 2"
                    class="form-control" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group mb-3">
                <label class="form-label" for="city">City *</label>
                <input id="city" type="text" formControlName="city" placeholder="Enter city" class="form-control" />
                <div>
                    @if (appointmentForm.get('city').invalid && appointmentForm.get('city').touched) {
                    @if (appointmentForm.get('city').errors['required']) {
                    <small class="text-danger">City is required.</small>
                    }
                    }
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group mb-3">
                <label class="form-label" for="state">State *</label>
                <input id="state" type="text" formControlName="state" placeholder="Enter state" class="form-control" />
                <div>
                    @if (appointmentForm.get('state').invalid && appointmentForm.get('state').touched) {
                    @if (appointmentForm.get('state').errors['required']) {
                    <small class="text-danger">State is required.</small>
                    }
                    }
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group mb-3">
                <label class="form-label" for="country">Country *</label>
                <input id="country" type="text" formControlName="country" placeholder="Enter country"
                    class="form-control" />
                <div>
                    @if (appointmentForm.get('country').invalid && appointmentForm.get('country').touched) {
                    @if (appointmentForm.get('country').errors['required']) {
                    <small class="text-danger">Country is required.</small>
                    }
                    }
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group mb-3">
                <label class="form-label" for="zipCode">Zip Code *</label>
                <input id="zipCode" type="text" formControlName="zipCode" placeholder="Enter zip code"
                    class="form-control" />
                <div>
                    @if (appointmentForm.get('zipCode').invalid && appointmentForm.get('zipCode').touched) {
                    @if (appointmentForm.get('zipCode').errors['required']) {
                    <small class="text-danger">Zip Code is required.</small>
                    }
                    }
                </div>
            </div>
        </div>

        <!-- Schedule Appointment -->
        <div class="col-md-12">
            <div class="form-section">
                <span>Schedule Appointment</span>
                <hr>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group mb-3">
                <label class="form-label" for="type">Appointment Type *</label>
                <input id="type" type="text" formControlName="appointmentType" placeholder="Select appoinment type"
                    class="form-control" />
                <div>
                    @if (appointmentForm.get('appointmentType').invalid &&
                    appointmentForm.get('appointmentType').touched) {
                    @if (appointmentForm.get('appointmentType').errors['required']) {
                    <small class="text-danger">Appointment type is required.</small>
                    }
                    }
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group mb-3">
                <label class="form-label" for="appoinmentDate">Appointment Date *</label>
                <input id="appoinmentDate" type="date" formControlName="appointmentDate"
                    placeholder="Select appoinment date" class="form-control" />
                <div>
                    @if (appointmentForm.get('appointmentDate').invalid &&
                    appointmentForm.get('appointmentDate').touched) {
                    @if (appointmentForm.get('appointmentDate').errors['required']) {
                    <small class="text-danger">Appointment date is required.</small>
                    }
                    }
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group mb-3">
                <label class="form-label" for="appoinmentTime">Appointment Time *</label>
                <input id="appoinmentTime" type="time" formControlName="appointmentTime"
                    placeholder="Select appoinment time" class="form-control" />
                <div>
                    @if (appointmentForm.get('appointmentTime').invalid &&
                    appointmentForm.get('appointmentTime').touched) {
                    @if (appointmentForm.get('appointmentTime').errors['required']) {
                    <small class="text-danger">Appointment time is required.</small>
                    }
                    }
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group mb-3">
                <label class="form-label" for="reason">Reason *</label>
                <input id="reason" type="text" formControlName="reason" placeholder="Enter appoinment reason"
                    class="form-control" />
                <div>
                    @if (appointmentForm.get('reason').invalid && appointmentForm.get('reason').touched) {
                    @if (appointmentForm.get('reason').errors['required']) {
                    <small class="text-danger">Appointment reason is required.</small>
                    }
                    }
                </div>
            </div>
        </div>

        <!-- Doctor -->
        <div class="col-md-12">
            <div class="form-section">
                <span>Doctor Details</span>
                <hr>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group mb-3">
                <label class="form-label" for="doctorId">Doctor *</label>
                <select class="form-select" formControlName="doctorId">
                    <option value="">- Select -</option>
                    @for (item of doctorList; track item) {
                    <option [value]="item.value">{{item.key}}</option>
                    }
                </select>
                <div>
                    @if (appointmentForm.get('doctorId').invalid && appointmentForm.get('doctorId').touched) {
                    @if (appointmentForm.get('doctorId').errors['required']) {
                    <small class="text-danger">Doctor is required.</small>
                    }
                    }
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-secondary mb-3 me-3" (click)="onCancel()">Cancel</button>
                <button type="submit" class="btn btn-primary mb-3" [disabled]="appointmentForm.invalid">{{appointmentId
                    === 0 ? 'Save' : 'Update'}}</button>
            </div>
        </div>
    </div>
</form>