<div class="col-md-12">
    <div class="d-flex justify-content-between">
        <div class="form-group mb-3">
            <input id="search" type="search" [(ngModel)]="searchText" placeholder="Search" class="tbl-search form-control"/>
        </div>
        <button type="button" class="btn btn-primary mb-3" (click)="addPatient()">Add Patient</button>
    </div>
    <div class="card tbl-card">
        <div class="table-responsive">
            <table class="table table-hover mb-0">
                <thead>
                    <tr>
                        <th>ID.</th>
                        <th>FIRST NAME</th>
                        <th>LAST NAME</th>
                        <th>GENDER</th>
                        <th>D.O.B</th>
                        <th>CONTACT</th>
                        <th class="text-end">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @for (patient of patientList | filter: searchText | slice : pageStart : pageEnd ; track patient) {
                    <tr>
                        <td>
                            <a href="javascript:" class="text-muted">{{ patient.id }}</a>
                        </td>
                        <td>{{ patient.firstName }}</td>
                        <td>{{ patient.lastName }}</td>
                        <td>{{ patient.gender }}</td>
                        <td>{{ patient.dob }}</td>
                        <td>{{ patient.contact }}</td>
                        <td class="text-end py-2">
                            <div class="d-flex justify-content-end">
                                <i class="icon-font ms-2 action-btn" antIcon theme="outline" type="edit" (click)="editPatent(patient.id)"></i>
                                <i class="icon-font ms-2 action-btn danger disabled" antIcon theme="outline" type="delete"></i>
                            </div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <app-pagination [collectionSize]="patientList.length" [pageSize]="pageSize" (onChange)="handlePageChange($event)"></app-pagination>
    </div>
</div>